---js
export const pagination = {
	data: "locales.locales",
	size: 1,
	alias: "locale",
	addAllPagesToCollections: true
};

export const eleventyComputed = {
	permalink: data => `/${data.locale}/tags-schema.json`
};

export const eleventyExcludeFromCollections = true;

export const layout = false;
---
{
  "type": "object",
  "properties": {
    "tags": {
      "type": "array",
      "items": {
        "type": "string",
        "enum": {{ collections | filterTagsByLocale(locale) | sortAlphabetically | dump | safe }}
      }
    }
  },
  "required": ["tags"],
  "additionalProperties": false
}
