---
permalink: "/{{ metadata.language }}/blog/admin/sw.js"
eleventyExcludeFromCollections: true
layout: false
---
self.addEventListener('fetch', () => {
  // Minimal fetch handler to make it installable.
});
