---
pagination:
  data: locales.locales
  size: 1
  alias: locale
permalink: "/{{ locale }}/blog/admin/sw.js"
eleventyExcludeFromCollections: true
layout: false
---
self.addEventListener('fetch', () => {
  // Minimal fetch handler to make it installable.
});
